# --------------------
# Rust / Cargo
# --------------------
**/target/
**/*.rs.bk
Cargo.lock

# --------------------
# Flutter / Dart
# --------------------
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/.pub-cache/
**/.pub/

# --------------------
# IDEs & OS Files
# --------------------
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
client/lib/themes/
client/*.png
